<%- include('../layouts/layout-start', { title: 'Добавить книгу' }) %>

<h1 class="mb-4 mt-3">Добавить новую книгу</h1>

<form action="/books/api/books/create" method="POST">
    <div class="mb-3">
        <label for="title" class="form-label">Название</label>
        <input type="text" class="form-control" id="title" name="title" required>
    </div>

    <div class="mb-3">
        <label for="author" class="form-label">Описание</label>
        <input type="text" class="form-control" id="desc" name="desc" required>
    </div>

    <div class="mb-3">
        <label for="year" class="form-label">Автор</label>
        <input type="text" class="form-control" id="author" name="author" required>
    </div>

    <button type="submit" class="btn btn-primary">Сохранить</button>
    <a href="/books" class="btn btn-secondary">Отмена</a>
</form>

<%- include('../layouts/layout-end') %>