<%- include('../layouts/layout-start', {title: '404 - Страница не найдена'}) %>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">404</h1>
        <p class="lead">Страница не найдена</p>
    </div>
</div>

<%- include('../layouts/layout-end') %>